Mario MCP test (2).json
{
  "name": "Mario MCP test",
  "nodes": [
    {
      "parameters": {},
      "id": "fe104d46-2aeb-47ca-85a3-2aeeb1d05574",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        992
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "URLs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis/edit#gid=0"
        },
        "options": {}
      },
      "id": "4ee99d15-c3f5-4295-941c-0ee382f2703d",
      "name": "Read URLs from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d257ea2b-f429-4bdd-9ece-0cee6f2b8a7a",
      "name": "Loop Over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1376,
        896
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/v1/urlInspection/index:inspect",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSearchConsoleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inspectionUrl\": \"={{ $json.url }}\",\n  \"siteUrl\": \"={{ $json.searchConsoleProperty }}\"\n}",
        "options": {}
      },
      "id": "e23c0608-4ca8-4686-83b1-471e61a1b24b",
      "name": "Check URL in Search Console",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        824
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "lastChecked",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "indexStatus",
              "value": "={{ $json.inspectionResult?.indexStatusResult?.coverageState === 'Submitted and indexed' ? 'Indexed' : 'Not indexed' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f420c42d-1bb8-40aa-9ede-f346c7e969a2",
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        824
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "lastChecked": "={{ $json.lastChecked }}",
            "indexStatus": "={{ $json.indexStatus }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lastChecked",
              "displayName": "lastChecked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "indexStatus",
              "displayName": "indexStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "c1117d6c-1994-4a80-8bfd-4ac6010f0989",
      "name": "Update Sheet with Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "url": "https://searchconsole.googleapis.com/webmasters/v3/sites",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "id": "4bb22f52-2ec8-470e-b71a-5e710e49acf3",
      "name": "Get Search Console Properties",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        896
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "LggJKQrK9GVF205e",
          "name": "Facebook SMN TEST JAKUB"
        },
        "googleOAuth2Api": {
          "id": "lWDgSVlIx9es8zHu",
          "name": "SEO - SC API [READ ONLY]"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Search Console properties from first input\nconst scData = $input.first().json;\nconst urls = scData.siteEntry;\n\n// Get sheet data from all inputs (skip the first one which is SC data)\nconst allInputs = $input.all();\nconst sheetData = allInputs.slice(1); // Skip first item (SC data)\n\nif (sheetData.length === 0) {\n  throw new Error('No sheet data received');\n}\n\n// Try different possible column names\nconst possibleColumns = ['URLS Index check', 'url', 'URL', 'urls', 'URLS'];\nlet urlColumn = null;\n\nfor (const col of possibleColumns) {\n  if (sheetData[0].json[col]) {\n    urlColumn = col;\n    break;\n  }\n}\n\nif (!urlColumn) {\n  throw new Error('Could not find URL column. Available columns: ' + Object.keys(sheetData[0].json).join(', '));\n}\n\n// Filter out items without URLs\nconst validItems = sheetData.filter(item => item.json[urlColumn] && item.json[urlColumn].trim() !== '');\n\nif (validItems.length === 0) {\n  throw new Error('No valid URLs found in column: ' + urlColumn);\n}\n\n// Extract first URL from sheet to determine domain\nconst firstUrl = validItems[0].json[urlColumn];\n\n// Parse URL manually\nconst urlMatch = firstUrl.match(/^(https?:\\/\\/[^\\/]+)/);\nif (!urlMatch) {\n  throw new Error('Invalid URL format: ' + firstUrl);\n}\nconst domain = urlMatch[1] + '/';\n\n// Extract hostname for domain property matching\nconst hostnameMatch = firstUrl.match(/^https?:\\/\\/([^\\/]+)/);\nconst hostname = hostnameMatch ? hostnameMatch[1] : '';\n\n// Find matching property\nlet matchedProperty = null;\n\n// Try exact match first\nfor (const site of urls) {\n  if (site.siteUrl === domain) {\n    matchedProperty = site.siteUrl;\n    break;\n  }\n}\n\n// If no exact match, try domain property (sc-domain:)\nif (!matchedProperty) {\n  for (const site of urls) {\n    if (site.siteUrl === `sc-domain:${hostname}`) {\n      matchedProperty = site.siteUrl;\n      break;\n    }\n  }\n}\n\n// Return only valid items with the matched property\nreturn validItems.map(item => ({\n  json: {\n    ...item.json,\n    url: item.json[urlColumn],\n    searchConsoleProperty: matchedProperty || domain\n  }\n}));"
      },
      "id": "dbdfa45e-62df-43fd-a119-27bfa5884e45",
      "name": "Match URL to Property",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        896
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        480,
        800
      ],
      "id": "95dba5b4-1bb8-4220-8f34-d94346709790",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over URLs": {
      "main": [
        [],
        [
          {
            "node": "Check URL in Search Console",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL in Search Console": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "Update Sheet with Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Status": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read URLs from Sheet": {
      "main": [
        [
          {
            "node": "Get Search Console Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Search Console Properties": {
      "main": [
        [
          {
            "node": "Match URL to Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match URL to Property": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read URLs from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read URLs from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "199197a9-d076-4538-aa89-b6acdfb252d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08a17d2ffdb586b840ec52dedb22b9c39b7a4b965cbde88862926fcc30465257"
  },
  "id": "DLCh3jsEtqnqaJOk",
  "tags": []
}