SC Index Checker.json
{
  "name": "SC Index Checker",
  "nodes": [
    {
      "parameters": {
        "url": "https://searchconsole.googleapis.com/webmasters/v3/sites",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "id": "abb87ab6-719c-439a-9f35-ee5f3778169d",
      "name": "Get All Properties",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1680,
        3216
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "lWDgSVlIx9es8zHu",
          "name": "SEO - SC API [READ ONLY]"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "URLs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis/edit#gid=0"
        },
        "options": {}
      },
      "id": "77c5f0f6-cc7c-4d5b-9e15-eb3d53609ea3",
      "name": "Read URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1456,
        3216
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Logic: Match URL to Property (V9 Row Calc)\n\nconst row = $input.item.json;\nconst url = row['URLS Index check']; \n\n// CALCULAR FILA: Asumimos que la fila 1 es header.\n// El índice empieza en 0, así que itemIndex 0 es la fila 2 del Excel.\nconst rowIndex = $input.item.pairedItem.itemIndex + 2;\n\nif (!url) return { json: { ...row, error: 'No URL', status_msg: 'Skipped', row_to_update: rowIndex } };\n\n// 1. Get Properties List\nlet allProperties = [];\ntry {\n    const propsNode = $('Get All Properties').all();\n    if (propsNode.length && propsNode[0].json.siteEntry) {\n        allProperties = propsNode[0].json.siteEntry;\n    }\n} catch (e) {}\n\n// 2. Extract Domain\nlet domain = '';\nconst domainMatch = url.match(/:\\/\\/(www\\.)?([^\\/]+)/);\nif (domainMatch && domainMatch[2]) {\n    domain = domainMatch[2].toLowerCase();\n} else {\n    return { json: { ...row, error: 'Invalid URL', status_msg: 'Error', row_to_update: rowIndex } };\n}\n\n// 3. Find Matching Property\nlet matchedProp = null;\nconst scPropName = `sc-domain:${domain}`;\nmatchedProp = allProperties.find(p => p.siteUrl === scPropName);\n\nif (!matchedProp) {\n    matchedProp = allProperties.find(p => {\n        if (!p.siteUrl.startsWith('sc-domain:')) return false;\n        const pDomain = p.siteUrl.replace('sc-domain:', '');\n        return domain.endsWith('.' + pDomain);\n    });\n}\n\nif (!matchedProp) {\n    matchedProp = allProperties.find(p => !p.siteUrl.startsWith('sc-domain:') && url.startsWith(p.siteUrl));\n}\n\nif (!matchedProp && domain.includes('feverup.com')) {\n    matchedProp = { siteUrl: 'sc-domain:feverup.com' };\n}\n\nconst finalProp = matchedProp ? matchedProp.siteUrl : null;\n\nreturn {\n  json: {\n    ...row,\n    target_url: url,\n    target_property: finalProp,\n    status_msg: finalProp ? 'Ready' : 'Not Found in SC List',\n    row_to_update: rowIndex\n  }\n};"
      },
      "id": "37f7521d-2690-4da6-b2f1-be4e79d94211",
      "name": "Find Property",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        3216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_msg }}",
              "value2": "Ready"
            }
          ]
        }
      },
      "id": "7148494d-5a31-45eb-98bf-6d8e72649c5f",
      "name": "Found Property?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1024,
        3216
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8ca7fdc9-47e1-40a6-aead-cc94674edc05",
      "name": "Loop URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        3104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/v1/urlInspection/index:inspect",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inspectionUrl",
              "value": "={{ $json.target_url }}"
            },
            {
              "name": "siteUrl",
              "value": "={{ $json.target_property }}"
            },
            {
              "name": "languageCode",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "id": "850fb41c-b2d1-4b85-a2a3-65b4792b71e3",
      "name": "GSC Inspect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        3024
      ],
      "credentials": {
        "googleSearchConsoleOAuth2Api": {
          "id": "lWDgSVlIx9es8zHu",
          "name": "SEO - SC API [READ ONLY]"
        },
        "googleOAuth2Api": {
          "id": "lWDgSVlIx9es8zHu",
          "name": "SEO - SC API [READ ONLY]"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "URLs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Indexed?": "={{ $json.inspectionResult?.indexStatusResult?.coverageState || $json.error?.message || 'Error' }}",
            "Last check?": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "row_number": 0,
            "URLS Index check": "={{ $('Loop URLs').item.json['URLS Index check'] }}"
          },
          "matchingColumns": [
            "URLS Index check"
          ],
          "schema": [
            {
              "id": "URLS Index check",
              "displayName": "URLS Index check",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Indexed?",
              "displayName": "Indexed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last check?",
              "displayName": "Last check?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "options": {
            "rowNum": "={{ $json.row_to_update }}"
          }
        },
        "options": {}
      },
      "id": "edd92958-2b12-4eae-8d86-b131651fe9a5",
      "name": "Update Result",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        3104
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18Zf-Eq4mywDl7JDoVcbb2Rsh18snkaSlAicA_1iBiis"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Indexed?": "SC Property Missing",
            "Last check?": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "options": {
            "rowNum": "={{ $json.row_to_update }}"
          }
        },
        "options": {}
      },
      "id": "8549dd90-3932-42ec-8a06-168a84933cab",
      "name": "Update Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        3376
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2016,
        3376
      ],
      "id": "f5d60227-2087-4b41-8abd-c47dff4a15e8",
      "name": "When chat message received",
      "webhookId": "44905c15-6328-479e-abf7-75d5266e93bd",
      "executeOnce": false,
      "retryOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "Get All Properties": {
      "main": [
        [
          {
            "node": "Read URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read URLs": {
      "main": [
        [
          {
            "node": "Find Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Property": {
      "main": [
        [
          {
            "node": "Found Property?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Property?": {
      "main": [
        [
          {
            "node": "Loop URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop URLs": {
      "main": [
        [],
        [
          {
            "node": "GSC Inspect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Inspect": {
      "main": [
        [
          {
            "node": "Update Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Result": {
      "main": [
        [
          {
            "node": "Loop URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get All Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "executionTimeout": -1
  },
  "versionId": "a6c4833e-380d-4cae-8338-c1c4f168b45f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08a17d2ffdb586b840ec52dedb22b9c39b7a4b965cbde88862926fcc30465257"
  },
  "id": "DLCh3jsEtqnqaJOk",
  "tags": []
}