SC Site verification TEST.json
{
  "name": "SC Site verification TEST",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        272
      ],
      "id": "09a2b48a-2893-4379-ad91-9d89bccd9967",
      "name": "When clicking ‘Execute workflow’",
      "notes": "Punto de entrada manual para iniciar el proceso de verificación de sitios."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SC verify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/edit#gid=0"
        },
        "options": {}
      },
      "id": "9e02f9eb-52ba-41ce-9cfa-f9591f17dbc8",
      "name": "Read GSheet",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Lee la hoja de cálculo 'SC verify'. Obtiene la lista de dominios pendientes de verificación o token.",
      "typeVersion": 4.5,
      "position": [
        -960,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst verifiedDomains = new Set();\n\n// Helper to check verification status across possible column names\nfunction checkVerified(json) {\n    // Check specific known columns first, then fallback to regex\n    if (json['Verified SC?'] === true || String(json['Verified SC?']).toUpperCase() === 'TRUE') return true;\n    if (json['Verified'] === true || String(json['Verified']).toUpperCase() === 'TRUE') return true;\n    if (json['SC Verified'] === true || String(json['SC Verified']).toUpperCase() === 'TRUE') return true;\n    if (json['verified'] === true || String(json['verified']).toUpperCase() === 'TRUE') return true;\n    \n    // Find any key that looks like \"verified\" or \"sc verified\"\n    const keys = Object.keys(json);\n    const verifiedKey = keys.find(k => k.match(/verified/i));\n    \n    if (verifiedKey) {\n        const val = json[verifiedKey];\n        if (val === true) return true;\n        if (typeof val === 'string') {\n             return val.toUpperCase() === 'TRUE' || val === '1' || val.toUpperCase() === 'YES';\n        }\n        if (typeof val === 'number') {\n            return val === 1;\n        }\n    }\n    return false;\n}\n\n// Pass 1: Collect verified domains to use for subdomain checking\nitems.forEach(item => {\n    const json = item.json;\n    if (json.Domain && checkVerified(json)) {\n        verifiedDomains.add(String(json.Domain).trim().toLowerCase());\n    }\n});\n\n// Pass 2: Determine Action for each row\nreturn items.map((item, index) => {\n    const json = item.json;\n    // Handle empty rows or missing domains gracefully\n    const domain = json.Domain ? String(json.Domain).trim().toLowerCase() : '';\n    \n    // Calculate Row Number (Assuming header is row 1, so index 0 is row 2)\n    const rowNumber = index + 2;\n\n    if (!domain) {\n        return {\n            json: {\n                ...json,\n                flow_action: 'ignore',\n                row_number_calc: rowNumber\n            }\n        };\n    }\n    \n    // FIX: Get Status from the correct column\n    // We check 'Status', then '0' (seen in screenshot), then lowercase 'status'\n    let status = '';\n    if (json['Status']) status = String(json['Status']).trim();\n    else if (json['0']) status = String(json['0']).trim();\n    else if (json['status']) status = String(json['status']).trim();\n\n    // Check for existing token (Column C)\n    // JSON mapping has space at end, header might not. Check both.\n    const txtRecord = json['TXT DNS Record'] || json['TXT DNS Record '];\n    const hasToken = !!(txtRecord && String(txtRecord).trim());\n    \n    const isVerified = checkVerified(json);\n\n    let flow_action = 'ignore';\n\n    if (isVerified) {\n        flow_action = 'ignore';\n    } else if (status === 'TXT Error' || status === 'TXT Requested') {\n        flow_action = 'ignore';\n    } else if (hasToken) {\n        // If we have a token, we check status to see if we should verify\n        if (status === 'TXT Created') {\n            flow_action = 'verify_site';\n        } else {\n            // Token exists but not ready to verify (e.g. 'TXT Requested' or manual)\n            flow_action = 'ignore';\n        }\n    } else {\n        // No token. \n        // Only generate if status is empty (clean slate)\n        if (!status) {\n            // New Domain (C & D empty).\n            // Sub-rule: Check if it is a subdomain of an already verified domain\n            let isSubdomainVerified = false;\n            for (const vDomain of verifiedDomains) {\n                if (domain.endsWith('.' + vDomain) || domain === vDomain) {\n                    isSubdomainVerified = true;\n                    break;\n                }\n            }\n            \n            if (isSubdomainVerified) {\n                flow_action = 'ignore';\n            } else {\n                flow_action = 'generate_token';\n            }\n        } else {\n            // Status has something but no token? \n            flow_action = 'ignore';\n        }\n    }\n    \n    // Safety Condition: Only generate tokens for rows >= 1106\n    if ((flow_action === 'generate_token' || flow_action === 'verify_site') && rowNumber < 1106) {\n        flow_action = 'ignore';\n    }\n    \n    return {\n        json: {\n            ...json,\n            flow_action: String(flow_action), \n            row_number_calc: rowNumber\n        }\n    };\n});"
      },
      "name": "Filtering Logic",
      "notes": "Analiza cada fila para decidir qué hacer:\n1. Si ya está verificado -> Ignorar.\n2. Si no tiene token -> Generar token (Flujo 0).\n3. Si tiene token y TXT creado -> Verificar sitio (Flujo 1).\n4. Filtra filas antiguas y subdominios innecesarios.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        272
      ],
      "id": "18a15449-9b22-445f-ac60-f6cc26ba7db9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Domain": "={{ $('Router').item.json.Domain }}",
            "TXT DNS Record ": "={{ $json.token }}",
            "Status": "TXT Requested"
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TXT DNS Record ",
              "displayName": "TXT DNS Record ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Verified SC?",
              "displayName": "Verified SC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "API property",
              "displayName": "API property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "API connector",
              "displayName": "API connector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analytics ID",
              "displayName": "Analytics ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "View_id",
              "displayName": "View_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain Name",
              "displayName": "Domain Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Property_id",
              "displayName": "Property_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Biq Query Dataset Name",
              "displayName": "Biq Query Dataset Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Big Query Connected",
              "displayName": "Big Query Connected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Sheet: Write Token",
      "notes": "Guarda el token generado en la hoja de cálculo y actualiza el estado a 'TXT Requested'.",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -64,
        176
      ],
      "id": "e01164c2-56ca-4943-8980-a6a25f8bd4ec",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.flow_action }}",
                    "rightValue": "generate_token",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4aa3989d-e773-48aa-a5b1-e6f15c46431e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.flow_action }}",
                    "rightValue": "verify_site",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52115b10-972c-4367-b58a-f06527c68a85"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.flow_action }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a997cc44-4e90-4e05-8cab-75b2904a89bf"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Router",
      "notes": "Dirige el flujo según la acción decidida:\n- Rama 1: 'generate_token' (Solicitar nuevo token).\n- Rama 2: 'verify_site' (Verificar TXT en GSC).\n- Rama 3: 'ignore' (No hacer nada).",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -512,
        256
      ],
      "id": "ffc76ace-fab1-4cae-bf83-fb015173ec4a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/siteVerification/v1/token",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "verificationMethod",
              "value": "DNS_TXT"
            },
            {
              "name": "site.identifier",
              "value": "={{ $json.Domain }}"
            },
            {
              "name": "site.type",
              "value": "INET_DOMAIN"
            }
          ]
        },
        "options": {}
      },
      "name": "API: Get Token",
      "notes": "Llama a la API de Google Site Verification para obtener un token DNS TXT para el dominio.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -288,
        176
      ],
      "id": "a13563d2-386b-40f7-a19c-ab54d3866362",
      "credentials": {
        "googleOAuth2Api": {
          "id": "3x3nyVCVCCpkE0Lf",
          "name": "SEO - SC Site Verification"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/siteVerification/v1/webResource?verificationMethod=DNS_TXT",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "site.identifier",
              "value": "={{ $json.Domain }}"
            },
            {
              "name": "site.type",
              "value": "INET_DOMAIN"
            }
          ]
        },
        "options": {}
      },
      "name": "API: Verify Site",
      "notes": "Intenta verificar la propiedad del sitio en Google enviando el token DNS.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -288,
        368
      ],
      "id": "beed113e-d34a-4be0-994d-9fc33bf7bbbe",
      "credentials": {
        "googleOAuth2Api": {
          "id": "3x3nyVCVCCpkE0Lf",
          "name": "SEO - SC Site Verification"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://www.googleapis.com/webmasters/v3/sites/sc-domain:\" + $('Router').item.json.Domain }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "API: Add to GSC1",
      "notes": "Añade el sitio verificado a Google Search Console (v3) para empezar a recolectar datos.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -112,
        368
      ],
      "id": "bd3efbdb-af7c-4f55-9a36-3f51d93c32d1",
      "credentials": {
        "googleOAuth2Api": {
          "id": "5g0ppmHyHO8p2RyJ",
          "name": "SEO - SC API [WRITE]"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SC verify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Domain": "={{ $('API: Verify Site').item.json.site.identifier }}",
            "Verified SC?": "TRUE"
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TXT DNS Record ",
              "displayName": "TXT DNS Record ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verified SC?",
              "displayName": "Verified SC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "API property",
              "displayName": "API property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "API connector",
              "displayName": "API connector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Analytics ID",
              "displayName": "Analytics ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "View_id",
              "displayName": "View_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain Name",
              "displayName": "Domain Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Property_id",
              "displayName": "Property_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Biq Query Dataset Name",
              "displayName": "Biq Query Dataset Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Big Query Connected",
              "displayName": "Big Query Connected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Sheet: Mark Verified",
      "notes": "Actualiza la hoja de cálculo marcando el dominio como 'Verified SC? = TRUE'.",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        368
      ],
      "id": "e3faa7ae-f741-40a0-b566-40592590c90d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A532BGEQJ",
          "mode": "id"
        },
        "text": "={{ \"🚀 *New Verification Request by* <@\" + $('Slack: Find User').item.json.user.id + \">\\n\\n🌐 *Domain:* \" + $('Router').item.json.Domain + \"\\n📝 *Status:* <https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/edit#gid=0&range=A\" + $('Router').item.json.row_number_calc + \"|TXT Requested (Token generated)>\\n⏳ *Action:* When SYS adds the TXT record to the domain, I will notify you.\" }}",
        "otherOptions": {
          "unfurlLinks": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        544,
        176
      ],
      "id": "b46f0604-e656-4b0d-b8af-56a7d068c035",
      "name": "Slack: Token Generated1",
      "notes": "Envía notificación a Slack avisando que se ha generado un token y se requiere acción de Sistemas.",
      "webhookId": "29807620-4e35-4120-8a38-083eb4db8466",
      "credentials": {
        "slackApi": {
          "id": "pm4aWiFcFad05UGN",
          "name": "SEO -  Slack SEO Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SC verify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Je0mbUj3pqb_fHcxLJOePQtk3OL7pYGz_wQAxTC1y1w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Domain": "={{ $('Router').item.json.Domain }}",
            "Slack Message": "={{ $json.message && $json.message.ts ? ('=HYPERLINK(\"https://slack.com/archives/C0A532BGEQJ/p' + $json.message.ts.toString().replace('.', '') + '\", \"' + $json.message.ts + '\")') : ($json.ts ? ('=HYPERLINK(\"https://slack.com/archives/C0A532BGEQJ/p' + $json.ts.toString().replace('.', '') + '\", \"' + $json.ts + '\")') : 'TS Missing') }}"
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Slack Message",
              "displayName": "Slack Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Sheet: Save Slack TS",
      "notes": "Guarda el Timestamp del mensaje de Slack en la hoja como un hipervínculo. Esto permite responder en hilo después.",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        768,
        176
      ],
      "id": "sheet-save-slack-ts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "De03tFAsQcVzGsQY",
          "name": "SEO - Google sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "C0A532BGEQJ"
            },
            {
              "name": "text",
              "value": "={{ \"✅ *Domain Verified!* <@\" + $('Slack: Find User1').item.json.user.id + \">\\n\\n🌐 *Domain:* \" + $('Router').item.json.Domain + \"\\n📊 *Status:* Added to Search Console\\n👉 *Next step:* <\" + \"https://search.google.com/u/1/search-console/settings/bulk-data-export?resource_id=sc-domain:\" + $('Router').item.json.Domain + \"|Go now and configure BQ connection>\\n    ◦ Cloud Project ID: `bigquery-dwh-integration`\\n    ◦ Dataset name: `\" + $('Router').item.json.Domain.replace(/[.-]/g, '_') + \"`\\n    ◦ Dataset location: Belgium (europe-west1)\" }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ ($('Router').item.json[\"Slack Message\"] || '').toString().match(/[0-9]+\\.[0-9]+/) ? ($('Router').item.json[\"Slack Message\"] || '').toString().match(/[0-9]+\\.[0-9]+/)[0] : '' }}"
            },
            {
              "name": "unfurl_links",
              "value": "false"
            },
            {
              "name": "unfurl_media",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        544,
        368
      ],
      "id": "f4d432e5-794c-4bbe-843d-77adaeb7fcd7",
      "name": "Slack: Site Verified1",
      "webhookId": "61aec011-6289-4b39-93b2-af95a220fdcf",
      "credentials": {
        "slackApi": {
          "id": "pm4aWiFcFad05UGN",
          "name": "SEO -  Slack SEO Agent"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/users.lookupByEmail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Router').item.json.Owner }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Slack: Find User",
      "notes": "Busca el ID de usuario de Slack basado en el email del 'Owner' definido en la hoja.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        176
      ],
      "id": "b87a51e0-e455-456d-b800-554b95798c38",
      "credentials": {
        "slackApi": {
          "id": "pm4aWiFcFad05UGN",
          "name": "SEO -  Slack SEO Agent"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/users.lookupByEmail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Router').item.json.Owner }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Slack: Find User1",
      "notes": "Busca nuevamente el usuario de Slack (para la rama de verificación) para notificarle.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        304,
        368
      ],
      "id": "9d1fb66e-cd80-48c4-bee0-1c4e8bf0521c",
      "credentials": {
        "slackApi": {
          "id": "pm4aWiFcFad05UGN",
          "name": "SEO -  Slack SEO Agent"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📋 PASO 1: Lectura de Datos\n\n**Read GSheet**\nLee la hoja 'SC verify' con todos los dominios y sus estados actuales (token, status, verificación).",
        "height": 150,
        "width": 320,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1000,
        50
      ],
      "id": "sticky-note-read",
      "name": "Note: Read Sheet"
    },
    {
      "parameters": {
        "content": "## 🔍 PASO 2: Análisis y Decisión\n\n**Filtering Logic**\nAnaliza cada dominio y decide:\n• ✅ Ya verificado → Ignorar\n• 🆕 Sin token → Generar token\n• 📝 Token + TXT creado → Verificar\n• 🚫 Subdominio verificado → Ignorar",
        "height": 220,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -750,
        50
      ],
      "id": "sticky-note-logic",
      "name": "Note: Filtering Logic"
    },
    {
      "parameters": {
        "content": "## 🚦 PASO 3: Router\n\n**Router**\nDivide el flujo en 3 ramas según la acción:\n1️⃣ generate_token\n2️⃣ verify_site\n3️⃣ ignore",
        "height": 160,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        50
      ],
      "id": "sticky-note-router",
      "name": "Note: Router"
    },
    {
      "parameters": {
        "content": "## 🔑 FLUJO 0: Generar Token\n\n**Pasos:**\n1. **API: Get Token** - Solicita token DNS TXT a Google\n2. **Sheet: Write Token** - Guarda token y estado 'TXT Requested'\n3. **Slack: Find User** - Busca usuario por email\n4. **Slack: Token Generated1** - Notifica en Slack\n5. **Sheet: Save Slack TS** - Guarda TS del mensaje para hilos",
        "height": 280,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        20
      ],
      "id": "sticky-note-flow0",
      "name": "Note: Flow 0 - Generate Token"
    },
    {
      "parameters": {
        "content": "## ✅ FLUJO 1: Verificar Sitio\n\n**Pasos:**\n1. **API: Verify Site** - Verifica que el TXT existe en DNS\n2. **API: Add to GSC1** - Añade sitio a Search Console\n3. **Sheet: Mark Verified** - Marca como 'Verified SC? = TRUE'\n4. **Slack: Find User1** - Busca usuario para mencionar\n5. **Slack: Site Verified1** - Responde en HILO confirmando",
        "height": 280,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        300
      ],
      "id": "sticky-note-flow1",
      "name": "Note: Flow 1 - Verify Site"
    },
    {
      "parameters": {
        "content": "## 💬 Integración con Slack\n\n**Características:**\n• Notificaciones automáticas por dominio\n• Mensajes en hilo para mantener contexto\n• Hipervínculo al mensaje original en la hoja\n• Sin previews de URLs para mensajes limpios",
        "height": 200,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "sticky-note-slack",
      "name": "Note: Slack Integration"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read GSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read GSheet": {
      "main": [
        [
          {
            "node": "Filtering Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtering Logic": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "API: Get Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Verify Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Get Token": {
      "main": [
        [
          {
            "node": "Sheet: Write Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Write Token": {
      "main": [
        [
          {
            "node": "Slack: Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Find User": {
      "main": [
        [
          {
            "node": "Slack: Token Generated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Token Generated1": {
      "main": [
        [
          {
            "node": "Sheet: Save Slack TS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Verify Site": {
      "main": [
        [
          {
            "node": "API: Add to GSC1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Add to GSC1": {
      "main": [
        [
          {
            "node": "Sheet: Mark Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Mark Verified": {
      "main": [
        [
          {
            "node": "Slack: Find User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Find User1": {
      "main": [
        [
          {
            "node": "Slack: Site Verified1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "41322142-e98c-42e6-b7c0-e9f0ccaf7e47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08a17d2ffdb586b840ec52dedb22b9c39b7a4b965cbde88862926fcc30465257"
  },
  "id": "K7D8PDk5gkII5En4",
  "tags": [
    {
      "updatedAt": "2025-09-26T14:13:03.261Z",
      "createdAt": "2025-09-26T14:13:03.261Z",
      "id": "M9pK35tC5ht2wdX3",
      "name": "SEO"
    }
  ]
}